**/.DS_Store

build/
cmake-build-*/
out/

main
assets

[Tt]esting/

docs/*
!docs/CMakeLists.txt

CMakeLists.txt.user
CMakeUserPresets.json

.clangd
compile_commands.json

.cache/
.idea/
.vs/
.vscode/
